@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#logo {
	width: 100%;
	text-align: center;
}

#logo>a>img {
	display: block;
	margin: 0px auto;
}

ul li {
	display: block;
	text-align: center;
	list-style: none;
}

a {
	text-decoration: none;
	color: #ffffff;
}
#memfuncs{
    width: 500px;
    position: absolute;
    right: 0px;
}
#memfuncs>ul>li>a{
	color:#000000;
}
#menu {
	z-index : 5;
	width: 960px;
	background-color:#16287f;
	height : 30px;
	line-height: 30px;
	margin: 0 auto;
	margin-top:-30px;
	text-align: center;
}
#menu>ul{
	display: inline-block;
}
#menu>ul>li {
	color : white;
	float: left;
	color:#16287f;
	height : 30px;
	width: 140px;
	position: relative;
}

#menu>ul>li>ul {
	background-color:#162832;
	z-index : 6; 
	width: 130px;
	display: none;
	position: absolute;
	font-size: 14px;
}

#menu>ul>li:hover>ul {
	display: block;
}

#cat>ul {
	background-color:#000000;
	z-index : 6; 
	width: 130px;
	display: none;
	left:130px;
	top:30px;
	position: absolute;
	font-size: 14px;
}
#cat:hover>ul {
	display: block;
}

/* #menu>ul>li>ul>li:hover {
	transition: ease 1s;
} */

footer {
	width: 960px;
	height:30px;
	background:#16287f;
	color:white;
	text-align: center;
	margin : 0 auto;
	margin-top:30px;
	font:10px 'malgun gothic';
	text-align: center;
}
