@charset "UTF-8";
section {
	width: 980px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}
section>ul{
	margin:10px;
	display: inline-block;
}
section>ul>li {
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

section>ul>li>img {
	width: 300px;
	height: 400px;
}

section>ul>li>.count {
	position : absolute;
	color : white;
	text-shadow: 1px #000000;
	left:20%;
	top:70%;
}